<h3>edit this snippet</h3>

<%= form_for @snippet do |f| %>
  <%= f.label :body %><br>
  <%= f.text_area :body, :value => @snippet.body %><br>
  <%= f.label :notes %><br>
  <%= f.text_field :notes, :value => @snippet.notes %><br>
  <%= f.label :source %><br>
  <%= f.text_field :source, :value => @snippet.source %><br>
  <%= f.label :tag_list %><br>
  <%= f.text_field :tag_list, :value => @snippet.tag_list %><br>
  <%= f.submit "Update" %>
<% end %>