<h3><%= @snippet.created_at.strftime("%d %b. %Y") %></h3>

<p><%= @snippet.body %></p>
<p><strong>Notes</strong>: <%= @snippet.notes %><br></p>
<strong>Source</strong>: <%= @snippet.source %><br>
<strong>Tags</strong>: <%= @snippet.tag_list %>


<p><%= link_to("edit", "/snippets/#{@snippet.id}/edit") %> | <%= link_to("delete", "/snippets/#{@snippet.id}", :method => :delete) %></p>