<div class="col-md-6" style="padding: 0;">
  <h2>Sign Up</h2>
  <!-- validation -->
  <div id="error">
    <%=flash[:error]%>
  </div>

  <div id="notice">
    <%=flash[:notice]%>
  </div>
  <!-- validation -->

  <%= form_for @user do |f| %>
    <%= f.text_field :email, :placeholder => 'email', class: 'form-control' %><br>
    <%= f.password_field :password, :placeholder => 'email', class: 'form-control' %><br>
    <%= f.password_field :password_confirmation, :placeholder => 'password confirmation', class: 'form-control' %><br>
    <%= f.submit "Join", class: 'btn btn-default' %>
  <% end %>
</div>