<div class="row labels" style="padding-bottom: 1%;">

  <div class="col-md-2">
    <h2>tags</h2>
  </div>

  <div class="col-md-5">
    <h2>snippets</h2>
  </div>

  <div class="col-md-5" align="right">
    <!-- Button trigger modal -->
    <a href="/snippets/new"><i class="fa fa-plus-square-o" data-toggle="modal" data-target="#myModal" style="font-size: 14pt; color: #A2A2A2  "></i></a>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Create a new Snippet</h4>
        </div>
        <div class="modal-body">
          <form>
            <label>Snippet</label>
            <input type="text" id="new-body" name="body"><br>
            <label>Source</label>
            <input type="text" id="new-source" name="source"><br>
            <label>Notes</label>
            <input type="text" id="new-notes" name="notes"><br>
            <label>Tags</label>
            <input type="text" id="new-tags" name="tag_list"><br>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="new-snippet-button">Submit</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



</div>

<div class="row content">
  <div class="col-md-2">
    <ul>
      <!-- all this logic should be in the model -->
      <% tag_array = [] %>
      <% @user.snippets.each do |snippet| %>
        <% snippet.tags.each do |tag| %>
          <% tag_array << tag.name %>
        <% end %>
      <% end %>
      <% tag_array.uniq! %>
      <% tag_array.each do |tag| %>
        <li><%= link_to tag, "/users/#{@user.id}/tags/#{tag}" %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-10">
    <div id="snippets-container">
      <% @snippets.each do |snippet| %>

      <div class="snippet" id="<%=snippet.id%>" data-toggle="modal" data-target="#snippetModal-<%=snippet.id%>">
        <h3><%= snippet.created_at.strftime("%d %b. %Y") %></h3>
        <p class="snippet-body" id="body-<%=snippet.id%>"><%= snippet.body %></p>
        <div class="snippet-source">
          <%= link_to snippet.source %>
        </div>
        <div class="snippet-favicon">
         <img src=<%= "http://www.google.com/s2/favicons?domain=" +snippet.source %>>
        </div>
      </div>


      <div class="modal fade" id="snippetModal-<%=snippet.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel"><h3><%= snippet.created_at.strftime("%d %b. %Y") %></h3></h4>
            </div>
            <div class="modal-body">
             <h3>Snippet:</h3>
             <p class="snippet-body" id="body-<%=snippet.id%>"><%= snippet.body %></p>
             <h3>Source:</h3>
             <div class="snippet-source">
              <%= link_to snippet.source %>
            </div>
            <h3>Notes:</h3>
            <div class = "snippet-notes-text" id = "notes-<%=snippet.id%>">
              <%= snippet.notes %>
            </div>
            <h3>Tags:</h3>
            <div class="snippet-tags">
              <%= raw snippet.tags.map { |tag| link_to tag.name, "/users/#{@user.id}/tags/#{tag.name}" }.join(', ') %>
            </div>
            <div class="snippet-favicon">
             <img src=<%= "http://www.google.com/s2/favicons?domain=" +snippet.source %>>
            </div>
          </div>
          <div class="modal-footer">
           <div class="button-div" align="right">
              <i class="fa fa-pencil-square-o edit-button"></i>
              <i class="fa fa-trash-o delete-button"></i>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <% end %>
  </div>
</div>

</div>

</div>
