<div class="row labels">

  <div class="col-md-2">
    <h2>tags</h2>
  </div>

  <div class="col-md-5">
    <h2>snippets</h2>
  </div>

  <div class="col-md-5" align="right">
    <a href="/snippets/new"><i class="fa fa-plus-square-o" style="font-size: 14pt; color: #A2A2A2"></i></a>
  </div>

</div>

<div class="row content">
  <div class="col-md-2">
    <ul>
      <% @user.snippets.each do |snippet| %>
      <% snippet.tags.each do |tag| %>
      <li><%= link_to tag.name, "/users/#{@user.id}/tags/#{tag.name}" %></li>
      <% end %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-10">
    <div id="snippets-container">
      <% @snippets.each do |snippet| %>
        <div class="snippet" id="<%=snippet.id%>">
          <h3><%= snippet.created_at.strftime("%d %b. %Y") %></h3>
          <p class="snippet-body" id="body-<%=snippet.id%>"><%= truncate(snippet.body, length: 200) %></p>
          <div class="snippet-source">
            <%= link_to snippet.source %>
          </div>
          <div class="snippet-tags">
            <%= raw snippet.tags.map { |tag| link_to tag.name, "/users/#{@user.id}/tags/#{tag.name}" }.join(', ') %>
          </div>
          <div class="snippet-notes">
            <h3>Notes:</h3>
            <div class = "snippet-notes-text" id = "notes-<%=snippet.id%>">
              <%= snippet.notes %>
            </div>
          </div>
          <div class="button-div" align="right">
            <i class="fa fa-pencil-square-o edit-button"></i>
            <i class="fa fa-trash-o delete-button"></i>
            <i class="fa fa-ellipsis-h see-more-button" id="button-<%=snippet.id%>"></i>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>

