<div class="row labels">

  <div class="col-md-3">
    <h2>tags</h2>
  </div>

  <div class="col-md-4">
    <h2>snippets</h2>
  </div>

  <div class="col-md-5" align="right">
    <a href="/snippets/new"><i class="fa fa-plus-square-o" style="font-size: 14pt; color: #A2A2A2  "></i></a>
  </div>

</div>

<div class="row snippets">
  <div class="col-md-3">
    <ul>
      <% @user.snippets.each do |snippet| %>
      <% snippet.tags.each do |tag| %>
      <li><a href="/users/<%= @user.id%>/tags/<%= tag.name %>"><%= tag.name%></a></li>
      <% end %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-9">

    <% @snippets.reverse.each do |snippet| %>
    <div class="col-md-4">
      <div class="snippet" id="<%=snippet.id%>">
        <h3><%= snippet.created_at.strftime("%d %b. %Y") %></h3>
        <p class="snippet-body" id="body-<%=snippet.id%>"><%= truncate(snippet.body, length: 200) %></p>
        <div class="snippet-source">
          <%= link_to "Source",  snippet.source %>
        </div>
        <div class="snippet-tags">
          <%= snippet.tag_list %>
        </div>
        <div class="snippet-notes">
          <h3>Notes:</h3>
          <div class = "snippet-notes-text" id = "notes-<%=snippet.id%>">
            <%= snippet.notes %>
          </div>
        </div>
        <div class="button-div" align="right">
          <i class="fa fa-pencil-square-o edit-button"></i>
          <i class="fa fa-trash-o delete-button"></i>
          <i class="fa fa-ellipsis-h see-more-button" id="button-<%=snippet.id%>"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>