<div class="row labels" style="padding-bottom: 1%;">

  <div class="col-md-2">
    <h2>tags</h2>
  </div>

  <div class="col-md-5">
    <h2>snippets</h2>
  </div>

  <div class="col-md-5" align="right">
    <!-- Button trigger modal -->
    <a href="/snippets/new"><i class="fa fa-plus-square-o" data-toggle="modal" data-target="#myModal" style="font-size: 20pt;"></i></a>
  </div>

  <%= render partial: "shared/new_snippet" %>

  <div class="row content">
    <div class="col-md-2">
      <ul>
        <!-- all this logic should be in the model -->
        <% tag_array = [] %>
        <% @user.snippets.each do |snippet| %>
          <% snippet.tags.each do |tag| %>
            <% tag_array << tag.name %>
          <% end %>
        <% end %>
        <% tag_array.uniq! %>
        <% tag_array.each do |tag| %>
          <li><%= link_to tag, "/users/#{@user.id}/tags/#{tag}" %></li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-10">
      <div id="snippets-container">
        <% @snippets.reverse.each do |snippet| %>
          <div class="snippet" id="<%=snippet.id%>" data-toggle="modal" data-target="#snippetModal">
            <div class="snippet-source">
              <h3><img src=<%= "http://www.google.com/s2/favicons?domain=" +snippet.source %>> <%= link_to snippet.source.split('/')[2], snippet.source %></h3>
              <h3 style="font-size: .8em; color: #A2A2A2; font-family: 'proxima_novalight'; letter-spacing: .08em;"><%= snippet.created_at.strftime("%I:%M%p ON %m/%d/%Y") %></h3>
            </div>
            <p class="snippet-body" id="body-<%=snippet.id%>"><%= snippet.body %></p>
            <div class="snippet-tags" align="right">
              <h3 id="tags-<%=snippet.id%>"><%= raw snippet.tags.map { |tag| link_to tag.name, "/users/#{@user.id}/tags/#{tag.name}" }.join(', ') %></h3>
            </div>
            <p hidden id="notes-<%=snippet.id%>"><%= snippet.notes %></p>
          </div>

        <% end %>
      </div>
        <%= render partial: "shared/show" %>
    </div>
  </div>
</div>