<!DOCTYPE html>
<html>
<head>
  <title>SnippetsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav align="right">
  <% if session[:user_id] %>
    <% @user = User.find(session[:user_id]) %>
    logged in as <%= link_to(@user.name), "/users/#{@user.id}")  %> | <%= link_to('Log out', '/session/destroy') %>

<%= yield %>

</body>
</html>
