<!DOCTYPE html>
<html>
<head>
  <title>SNIPPETS</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>
<body>
  <div class="wrapper">
    <div class="row">

      <div class="col-md-6">
        <section class="brand-name"><%= link_to 'index', "/users/#{session[:user_id]}" %></section>
      </div>

      <div class="col-md-6">
        <nav align="right">
          <% if session[:user_id] %>
          <% @user = User.find(session[:user_id]) %>
          logged in as <%= link_to(@user.email, "/users/#{@user.id}")  %> | <%= link_to('Log out', '/logout') %>
          <% else %>
          <%= link_to('Join Snippets', '/users/new') %> | <%= link_to('Login', '/login') %>
          <% end %>
        </nav>
      </div>
    </div>

      <%= yield %>

  </div>

</body>
</html>
